---

- name: Link Bazel Shell RC file
  file:
    src: "{{dotfiles_src_dir}}/bazel/3-bazel.sh"
    dest: "{{shellrc_config_dir}}/3-bazel.sh"
    state: link
    follow: no
    force: yes

- name: Make Bazel RC Fragments config directory
  file:
    path: "{{xdg_config_home}}/bazel"
    state: directory
    force: yes

- name: Make Bazel RC Ad-Hoc Fragment file
  file:
    path: "{{xdg_config_home}}/bazel/adhoc.bazelrc"
    state: touch
    force: yes

- name: Link Bazel RC Fragment files
  file:
    src: "{{dotfiles_src_dir}}/bazel/bazelrc-fragments/{{item}}"
    dest: "{{xdg_config_home}}/bazel/{{item}}"
    state: link
    follow: no
    force: yes
  with_items:
  - common.bazelrc

- name: Render Bazel RC template file
  template:
    src: bazelrc
    dest: "~/.bazelrc"
    mode: 0400

- name: Download iBazel executable
  get_url:
    url: "{{ibazel_release_url_root}}_{{os}}_{{arch}}"
    dest: "{{xdg_bin_home}}/ibazel"
    mode: "0755"
  vars:
    os: "{{'darwin' if ansible_facts['os_family'] == 'Darwin' else 'linux'}}"
    arch: "{{'arm64' if ansible_facts['architecture'] == 'arm64' else 'amd64'}}"
