# Vim swap files
*.sw?
# Vim plugin lockfile
lazy-lock.json
# Emacs swap files
~*
# Ansible playbook retry files
*.retry
# Vagrant cache directory
.vagrant
.vagrant-*
# Vagrant log files
*-console.log
# Mac Finder files
.DS_Store
