---

- name: Install uv
  shell: curl -LsSf https://astral.sh/uv/install.sh | sh

- name: Install modern python version with uv
  command:
    cmd: uv python install --default

- name: Install dev-tools pipx packages
  command:
    cmd: "uv tool install {{item}}"
  with_items:
  - awscli
  - black
  - git-filter-repo
  - grip
  - vim-vint

- name: Install dev-tools pipx packages (frozen python)
  command:
    cmd: "uv tool install --python {{item.python}} {{item.name}}"
  with_items:
  - {name: gdbgui, python: 3.11}
