---

- block:
  - name: Download and unpack Tmux release tarball
    unarchive:
      src: "{{tmux_release_url}}"
      dest: "{{source_releases_data_dir}}"
      remote_src: yes

  - name: Configure, make, and install Tmux release (this will take a while)
    shell:
      chdir: "{{tmux_release_dir}}"
      cmd: |
        set -ex
        CFLAGS="{{tmux_release_cflags}}" ./configure --prefix={{xdg_prefix_home}}
        make
        make install
      creates: "{{xdg_bin_home}}/tmux"
  when: ansible_facts['os_family'] != "Darwin"

- name: Create Tmux directories
  file:
    dest: "{{item}}"
    state: directory
    mode: 0700
  with_items:
  - "{{tmux_config_dir}}"
  - "{{tmux_data_dir}}"
  - "{{tmux_plugins_data_dir}}"

- name: Render Tmux Vars template file
  template:
    src: vars.sh
    dest: "{{shellrc_config_dir}}/0-tmux.sh"
    mode: 0400

- name: Render Tmux config template files
  template:
    src: "{{item}}"
    dest: "{{tmux_config_dir}}/{{item}}"
    mode: 0400
  with_items:
  - tmux.conf

- name: Render Tmux executable template files
  template:
    src: "{{item}}"
    dest: "{{xdg_bin_home}}/{{item}}"
    mode: 0500
  with_items:
  - tmux-theme

- name: Link Tmux data directory
  file:
    src: "{{tmux_data_dir}}"
    dest: ~/.tmux
    state: link
    follow: no
    force: yes

- name: Link Tmux Shell RC file
  file:
    src: "{{dotfiles_src_dir}}/tmux/3-tmux.sh"
    dest: "{{shellrc_config_dir}}/3-tmux.sh"
    state: link
    follow: no
    force: yes

- name: Link Tmux config file
  file:
    src: "{{tmux_config_dir}}/tmux.conf"
    dest: ~/.tmux.conf
    state: link
    follow: no
    force: yes

- name: Download Tmux TPM repository
  git:
    repo: "{{tmux_tpm_repo}}"
    dest: "{{tmux_tpm_data_dir}}"
    depth: 1

- name: Install Tmux plugins
  shell:
    executable: /bin/bash
    cmd: |
      if tmux info &>/dev/null; then
        tmux source ~/.tmux.conf
      fi
      export TMUX_PLUGIN_MANAGER_PATH='{{tmux_plugins_data_dir}}'
      {{tmux_tpm_data_dir}}/bin/install_plugins
