---

- name: Download worktree repository
  git:
    repo: "{{worktree_repo}}"
    dest: "{{worktree_data_dir}}"
    depth: 1

- name: Render worktree Vars template file
  template:
    src: vars.sh
    dest: "{{shellrc_config_dir}}/0-worktree.sh"
    mode: 0400

- name: Link worktree Shell RC file
  file:
    src: "{{dotfiles_src_dir}}/worktree/{{item}}"
    dest: "{{shellrc_config_dir}}/{{item}}"
    state: link
    follow: no
    force: yes
  with_items:
  - 3-worktree.sh
