---

- block:
  - name: Download and unpack Git release tarball
    unarchive:
      src: "{{git_release_url}}"
      dest: "{{source_releases_data_dir}}"
      remote_src: yes

  - name: Configure, make, and install Git release (this will take a while)
    shell:
      chdir: "{{git_release_dir}}"
      cmd: |
        set -ex
        make configure
        CFLAGS="{{git_release_cflags}}" ./configure --prefix={{xdg_prefix_home}}
        make all doc info
        make install install-doc install-html install-info
      creates: "{{xdg_bin_home}}/git"
  when: ansible_facts['os_family'] != "Darwin"

- name: Link Git Shell RC file
  file:
    src: "{{dotfiles_src_dir}}/git/3-git.sh"
    dest: "{{shellrc_config_dir}}/3-git.sh"
    state: link
    follow: no
    force: yes

- name: Make GitConfig Fragments config directory
  file:
    path: "{{xdg_config_home}}/git"
    state: directory
    force: yes

- name: Link GitConfig Fragment files
  file:
    src: "{{dotfiles_src_dir}}/git/gitconfig-fragments/{{item}}"
    dest: "{{xdg_config_home}}/git/{{item}}"
    state: link
    follow: no
    force: yes
  with_items:
  - alias.gitconfig
  - compatibility.gitconfig
  - ui.gitconfig
  - ux.gitconfig
  - identity-public.gitconfig

- name: Link GitConfig file
  file:
    src: "{{dotfiles_src_dir}}/git/gitconfig"
    dest: "~/.gitconfig"
    state: link
    follow: no
    force: yes

- name: Link Git command files
  file:
    src: "{{dotfiles_src_dir}}/git/{{item}}"
    dest: "{{xdg_bin_home}}/{{item}}"
    state: link
    follow: no
    force: yes
  with_items:
  - git-push-retry
  - repobin

- name: Download and extract git-sizer
  unarchive:
    src: "https://github.com/github/git-sizer/releases/download/v1.5.0/git-sizer-1.5.0-{{os}}-{{arch}}.zip"
    remote_src: yes
    include:
    - git-sizer
    dest: "{{xdg_bin_home}}"
    creates: "{{xdg_bin_home}}/git-sizer"
    mode: 0755
  vars:
    os: "{{'darwin' if ansible_facts['os_family'] == 'Darwin' else 'linux'}}"
    arch: "{{'arm64' if ansible_facts['architecture'] == 'arm64' else 'amd64'}}"
