---

- name: Download Solarized themes repository
  git:
    repo: "{{solarized_themes_repo}}"
    dest: "{{solarized_themes_data_dir}}"
    depth: 1

- name: Download Solarized dircolors repository
  git:
    repo: "{{dircolors_solarized_repo}}"
    dest: "{{dircolors_solarized_data_dir}}"
    depth: 1
