---

- name: Install dev-tools cargo packages
  command:
    cmd: >
      {{rust_cargo_home}}/bin/cargo install {{item.package}}
    creates: "{{rust_cargo_home}}/bin/{{item.executable}}"
  environment:
    CARGO_HOME: "{{rust_cargo_home}}"
    RUSTUP_HOME: "{{rust_rustup_home}}"
  with_items:
  - {package: ripgrep, executable: rg}
  - {package: fd-find, executable: fd}
  - {package: git-delta, executable: delta}
  - {package: bat, executable: bat}

- name: Link Bat Shell RC file
  file:
    src: "{{dotfiles_src_dir}}/cargo/3-bat.sh"
    dest: "{{shellrc_config_dir}}/3-bat.sh"
    state: link
    force: yes

- name: Make Bat config directory
  file:
    path: "{{xdg_config_home}}/bat"
    state: directory
    force: yes

- name: Link Bat config file
  file:
    src: "{{dotfiles_src_dir}}/cargo/bat-config"
    dest: "{{xdg_config_home}}/bat/config"
    state: link
    force: yes

- name: Download bat-extras repository
  git:
    repo: "{{bat_extras_repo}}"
    dest: "{{bat_extras_data_dir}}"
    depth: 1

- name: Build and install bat-extras binaries
  command:
    cmd: >
      {{bat_extras_data_dir}}/build.sh
        --install
        --prefix={{xdg_prefix_home}}
    creates: "{{xdg_bin_home}}/batman"
